{% extends "@Testwebreathe/Testwebreathe/LayoutAdmin.html.twig" %}
{% block title %}Ajouter utilisateur{% endblock title %}
{% block utilisateurs %}current_page_item{% endblock utilisateurs %}
{% block body %}
    <section class="content_section">
        <div class="content row_spacer2 clearfix">
            <div class="rows_container clearfix">
                <div class="col-md-8">
                    <div class="main_title upper">
                        <h2>
                            <span class="line"><i class="ico-signup"></i></span>
                            Ajouter
                            <span class="main_title_c1"> utilisateur</span>
                        </h2>
                    </div>
                    {{ form_start(form, {'method': 'post', 'attr': {'class': 'hm_contact_form full_contact_form'}}) }}
                    <div class="form_row clearfix">
                        <div class="my_col_third">
                            <label for="first-name">
                                <span class="hm_field_name">Utilisateur</span>
                                <span class="hm_requires_star">*</span>
                            </label>
                            {{ form_widget(form.utilisateur,{'attr': {'class': 'hm_input_text','id': 'utilisateur','placeholder':'Utilisateur','maxlength':'250'}}) }}
                        </div>
                        <div class="my_col_third">
                            <label for="last-name">
                                <span class="hm_field_name">Mot de passe</span>
                                <span class="hm_requires_star">*</span>
                            </label>
                            {{ form_widget(form.motdepasse,{'attr': {'class': 'hm_input_text','id': 'motdepasse','placeholder':'Mot de passe','maxlength':'250'}}) }}
                        </div>
                        <div class="my_col_third">
                            <label for="last-name">
                                <span class="hm_field_name">Rôle</span>
                            </label>
                            <label class="orderby_label">
                                {{ form_widget(form.role,{'attr': {'class': 'shipping_country','style':'background-color: #171b1e'}}) }}
                            </label>
                        </div>
                    </div>
                    <div class="form_row clearfix">
                        <div class="my_col_full">
                            {{ form_widget(form.Ajouter,{'attr': {'class': 'send_button full_button','id': 'modifier','type':'submit','onmouseover':'trimstr()'}}) }}
                        </div>
                    </div>
                    {{  form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock body %}

